// Gray
$gray-50: #ECEFF1;
$gray-100: #CFD8DC;
$gray-200: #B0BEC5;
$gray-300: #90A4AE;
$gray-400: #78909C;
$gray-500: #607D8B;
$gray-600: #546E7A;
$gray-700: #455A64;
$gray-800: #2b373d;
$gray-900: #161f24;

// Border radius
$border-radius: 6px;
